/*!!code has been refactored!!*/

/*
As of 7/6/21 file has been refactored to improve maintainability of code and to reflect the changes made in the index file as well as code condensed
*/


/*wild card selects all*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/*========*/

/* webpage background color */
body {
    background-color: #d9dcd6;
}

main {
    width: 77%;
    height: 100%;
    display: inline-block;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main section {
    margin-left: 25px;
    margin-bottom: 20px;
    height:340px;
    background-color: #0072bb;
}

/* header styling */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}

span {
    color: #d9dcd6;
}

/* edited the next three css elements to conform with the change made to the <nav> container in the header of index.html */ 
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}



/* styling for links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* paragraph styling */
p {
    font-size: 16px;
}

/*removed hero css as the hero element has been removed in index file */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


/*consolidated*/
aside section {
    margin-bottom: 10px;
    text-align: center;
}


/*consolidated 3 into 1*/
aside section img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*consilidated 3 into 1 */
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;

}


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*shortened 3 into 1 */
main section img {
    max-height: 200px;
}

/*shortened 3 into 1 */
main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
